/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

* {
  box-sizing: border-box;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*='col-'] {
  padding: 1rem;
}

.navbar-nav li {
  padding-right: 10px;
}

.carousel-inner img {
  border-top: #f2a463 3px solid;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
}

.padding {
  padding-bottom: 1rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
}

.welcome h1 {
  color: #f2a463;
}

h2 {
  color: #f2a463;
}

/* 3 Slike */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: '';
  clear: both;
  display: table;
}

.footer {
  background-color: #f2a463;
  font-style: italic;
}

.footer a {
  color: blueviolet;
}

.worldTravel img {
  width: 100%;
  height: 500px;
}

.row img {
  display: inline-block;
}

.jumbotron {
  background-color: lightyellow;
}

hr.my-4 {
  border-top: 2px solid #f2a463;
  width: 93%;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
